* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nome,
.rg,
.cpf,
.idade,
.sexo,
.botaoProximo,
.cidade,
.cep,
.endereco,
.email,
.celular {
    width: 100%;
    margin-bottom: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(185, 185, 185);
    width: 100%;
    max-width: 500px;
    margin: 32px auto;
    padding: 32px 64px;
    display: flex;
    flex-direction: column;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

html {
    font-family: "Roboto", sans-serif;
    height: 100%;
}

div.input {
    margin-bottom: 24px;
    position: relative;
}