:root {
    --primary-color: #7320B5;
    --bg-color: #0C0612;
    --text-color: #f0f0f5;
    --light-color: rgba(255, 255, 255, 0.04);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    color: var(--text-color);
}

form {
    background: var(--light-color);
    width: 100%;
    max-width: 500px;
    margin: 32px auto;
    padding: 32px 64px;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--light-color);
}

form h2 {
    margin-bottom: 32px;
}

div.input {
    margin-bottom: 24px;
    position: relative;
}

input {
    /* reset appeareance */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    /* box */
    width: 100%;
    padding: 16px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    border: 2px solid var(--light-color);
    background-color: var(--light-color);
    outline: none;
    /* text */
    color: var(--text-color);
    font-size: 1em;
}

.a {
    margin-top: 16px;
    background-color: var(--primary-color);
}

input~label {
    position: absolute;
    top: 16px;
    left: 16px;
    color: rgba(255, 255, 255, 0.6);
    transition: .4s;
}

input:focus~label,
input:valid~label {
    background-color: var(--light-color);
    transform: translateY(-24px);
    font-size: 0.8em;
    letter-spacing: 0.1em;
}

.select {
    color: rgba(255, 255, 255, 0.6);
}

.a {
    text-align: center;
    text-decoration: none;
    display: block;
    width: auto;
}

.container h2,
.container p {
    margin-bottom: 16px;
}

.search-container {
    width: 490px;
    display: block;
    margin: 0 auto;
}

input#search-bar {
    width: 100%;
    margin: 0 auto;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
}

.search-icon {
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    right: -45px;
}

.botaoOutline {
    text-align: center;
    text-decoration: none;
    display: block;
    width: auto;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    padding: 8px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    border: 2px solid var(--primary-color);
    color: var(--text-color);
    font-size: 1em;
}

.botaoSolid {
    text-align: center;
    text-decoration: none;
    display: block;
    width: auto;
    margin-top: 16px;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    padding: 8px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    border: 2px solid var(--primary-color);
    color: var(--text-color);
    font-size: 1em;
    background-color: var(--primary-color);
}

.form-select {
    width: 100%;
    padding: 16px 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    border: 2px solid var(--primary-color);
    background-color: #EAEAEA;
    outline: none;
    /* text */
    color: #000000;
    font-size: 1em;
    margin-bottom: 24px;
    position: relative;
}

.success input {
    outline: 3px solid green;
}

.error input {
    outline: 3px solid red;
}