$bg-main-color: #0c0612;

$bg-secundary-color: #16101b;

$primary-color: #7320B5;

$primary-light-color: #AB58ED;

$primary-dark-color: #33114E;

$text-color: #f0f0f5;

$light-color: rgba(255, 255, 255, 0.04);

$border: #1f1924;