.form {
  margin-top: 64px;
  position: relative;
  height: 100%;
  display: -ms-grid;
  display: grid;
}

.form .input {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #1f1924;
  outline: none;
  padding: 1.5rem;
  background: none;
  font-size: 1em;
  color: #f0f0f5;
}

.form .input:hover {
  border-color: #AB58ED;
}

.form .input:focus {
  border-color: #7320B5;
}

.form .label {
  position: absolute;
  left: 1rem;
  top: 0.8rem;
  padding: 0 5px;
  color: #a9a6aa;
  cursor: text;
  -webkit-transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  background-color: #16101b;
}

.input:focus ~ .label {
  top: -10px;
  font-size: 0.8rem;
  left: 0.8rem;
}

.input:focus ~ .label,
.input:not(:placeholder-shown).input:not(:focus) ~ .label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.8rem;
}

.botaoOutline {
  margin-top: 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: auto;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  padding: 8px 0;
  border-radius: 10px;
  border: none;
  border: 2px solid #7320B5;
  color: #f0f0f5;
  font-size: 1em;
}

.botaoOutline:hover {
  color: #f0f0f5;
  background-color: #AB58ED;
}

.botaoOutline:active {
  color: #f0f0f5;
  background-color: #33114E;
}

.botaoSolid {
  text-align: center;
  text-decoration: none;
  display: block;
  width: auto;
  margin-top: 16px;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  padding: 8px 0;
  border-radius: 10px;
  border: none;
  border: 2px solid #7320B5;
  color: #f0f0f5;
  font-size: 1em;
  background-color: #7320B5;
}

.botaoSolid:hover {
  color: #f0f0f5;
  background-color: #AB58ED;
}

.botaoSolid:active {
  color: #f0f0f5;
  background-color: #33114E;
}

.form-select {
  width: 100%;
  padding: 12px 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  border: 2px solid #7320B5;
  background-color: #EAEAEA;
  outline: none;
}

.cardResultado {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  padding: 8px 8px;
  border-radius: 10px;
  border: none;
  border: 2px solid #7320B5;
  color: #f0f0f5;
  font-size: 1em;
  background-color: #7320B5;
  height: 4rem;
}

.cardResultado:hover {
  color: #f0f0f5;
  background-color: #AB58ED;
}

.cardResultado:active {
  color: #f0f0f5;
  background-color: #33114E;
}

.btnForm {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: #33114E;
  background: none;
}

.box1 {
  width: 200px;
  height: 2rem;
  background-color: red;
}

.box2 {
  width: 50px;
  height: 2rem;
  background-color: red;
}

.box3 {
  width: 50px;
  height: 2rem;
  background-color: red;
}

body {
  height: 100%;
  background-color: #0c0612;
  width: 100%;
  color: #f0f0f5;
  font-family: "Roboto", sans-serif;
}

body .container {
  background-color: #16101b;
  border: 2px solid rgba(255, 255, 255, 0.04);
  max-width: 500px;
  margin: 32px auto;
  padding: 32px 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=main.css.map */